<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:h="Heilmann\JhKestatsBackend\ViewHelpers">
<head>

</head>
<body>

<f:for each="{dropDownMenus}" key="menuName" as="dropDownMenu">
    <form name="form_{menuName}" id="form_{menuName}" style="display: inline-block;" method="post" action="{f:uri.action(arguments: dropDownMenu.arguments)}">
        <div class="form-group">
            <select name="tx_jhkestatsbackend_web_jhkestatsbackendmod1[{menuName}]" size="1" class="form-control" onchange="document.form_{menuName}.submit();">
                <f:for each="{dropDownMenu.options}" as="option">
                    <option value="{option.value}" {f:if(condition:'{option.isSelected}', then:'selected="selected"')}>
                    {option.description}
                    </option>
                </f:for>
            </select>
        </div>
    </form>
</f:for>

</body>
</html>