<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:h="Heilmann\JhKestatsBackend\ViewHelpers">
<head>

</head>
<body>

<f:for each="{tabMenus}" key="menuName" as="menuArray">
    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
        <f:for each="{menuArray}" as="menuItem">
            <li class="{f:if(condition:'{menuItem.isActive}', then:'active')}">
                <f:link.action arguments="{menuItem.arguments}">
                    {menuItem.description}
                </f:link.action>
            </li>
        </f:for>
    </ul>
</f:for>

</body>
</html>