
<f:be.container
        includeCssFiles="{
            2: '{f:uri.resource(path:\'Css/table.css\')}'
        }"
        includeJsFiles="{
            1: '{f:uri.resource(path:\'flotr/lib/prototype-1.6.0.2.js\')}',
            2: '{f:uri.resource(path:\'flotr/lib/canvas2image.js\')}',
            3: '{f:uri.resource(path:\'flotr/lib/canvastext.js\')}',
            4: '{f:uri.resource(path:\'flotr/flotr-0.2.0-alpha.js\')}'
        }"
>

    <div class="module" data-module-id="" data-module-name="">
        <div class="module-docheader t3js-module-docheader">
            <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">
                <div class="module-docheader-bar-column-left">
                    <div class="form-inline">
                    </div>
                </div>
                <div class="module-docheader-bar-column-right">
                    <f:be.pagePath />
                    <f:be.pageInfo />
                </div>
            </div>
            <div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
                <div class="module-docheader-bar-column-left">
                    <div class="btn-toolbar" role="toolbar" aria-label="">
                    </div>
                </div>
                <div class="module-docheader-bar-column-right">
                    <div class="btn-toolbar" role="toolbar" aria-label="">
                        <div class="btn-group" role="group" aria-label="">
                            <f:link.action action="flushCache" addQueryString="1" title="{f:translate(key:'flushCache.this')}" class="btn btn-default btn-sm">
                                <f:be.buttons.icon icon="actions-system-cache-clear-impact-low" title="{f:translate(key:'flushCache.this')}" />
                            </f:link.action>
                            <f:link.action action="flushCache" arguments="{cacheType: 'subpages'}" addQueryString="1" title="{f:translate(key:'flushCache.subpages')}" class="btn btn-default btn-sm">
                                <f:be.buttons.icon icon="actions-system-cache-clear-impact-medium" title="{f:translate(key:'flushCache.subpages')}" />
                            </f:link.action>
                            <f:link.action action="flushCache" arguments="{cacheType: 'all'}" addQueryString="1" title="{f:translate(key:'flushCache.all')}" class="btn btn-default btn-sm">
                                <f:be.buttons.icon icon="actions-system-cache-clear-impact-high" title="{f:translate(key:'flushCache.all')}" />
                            </f:link.action>
                            <f:comment><f:be.buttons.shortcut /></f:comment>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-body t3js-module-body">
            <f:flashMessages />
            <f:render section="content" />
        </div>
    </div>
</f:be.container>
